{% extends 'base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4 mt-4">
        <h1 class="h3 mb-0 text-gray-800">Карточка клиента</h1>
        </div>

        <!-- Main Content Here -->
        <div class="row">
          <div class="col-lg-2"></div>
          <div class="col-lg-3 my-5">
            <img src="{{user.profile.profile_image.url}}" class="rounded float-right" height="300px" width="300px">
          </div>
          <div class="card o-hidden border-0 shadow-lg my-5 col-lg-5">
            <div class="card-body">
                <h2>Клиент №:{{id}}</h2>
                <p><strong>Фамилия: </strong>{{last_name}} </p>
                <p><strong>Имя: </strong>{{first_name}} </p>
                <p><strong>E-mail: </strong>{{email}} </p>
                <p><strong>Город: </strong>{{city}} </p>
                <p><strong>Адрес: </strong>{{address}} </p>

{#                <p><strong>Статус: </strong>{{user.profile.bio}} </p>#}
{#                <p><strong>Номер телефона: </strong>{{user.profile.phone_number}} </p>#}
{#                <p><strong>Дата рождения: </strong>{{user.profile.birth_date}} </p>#}
                <a href="{% url 'client_profile_update'  id %}" class="btn btn-sm btn-primary shadow-sm">Изменить профиль</a>
            </div>
          </div>
        </div>



    </div>
    <!-- /.container-fluid -->
{% endblock content %}