{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Поставщики</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Организация</th>
                                            <th>ФИО</th>
                                            <th>Адрес</th>
                                            <th>Город</th>
                                            <th>Страна</th>
                                            <th>Телефон</th>
                                            <th>Действие</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for supplier in suppliers %}
                                        <tr>
                                            <td>{{supplier.id}}</td>
                                            <td>{{supplier.name}}</td>
                                            <td>{{supplier.agent}}</td>
                                            <td>{{supplier.address}}</td>
                                            <td>{{supplier.city}}</td>
                                            <td>{{supplier.country}}</td>
                                            <td>{{supplier.phone}}</td>
                                            <td><a href="{% url 'products' %}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Поставка
                                </a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
    <a href="{% url 'newsupplier' %}" class="btn btn-sm btn-primary shadow-sm">Новый поставщик</a>
                    </div>

                </div>

{% endblock content %}