{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Заказы</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Адрес</th>
                                            <th>Индекс</th>
                                            <th>Создан</th>
                                            <th>Статус</th>
                                            <th>Действие</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    {% for i in object_list %}
                                        <tr>
                                            <td>{{i.id}}</td>
                                            <td>{{i.first_name}}</td>
                                            <td>{{i.last_name}}</td>
                                            <td>{{i.address}}</td>
                                            <td>{{i.postal_code}}</td>
                                            <td>{{i.created}}</td>
                                            <td>{{i.status}}</td>
                                            <td> <a href="{% url "change_status" object_list.id %}" class="btn btn-primary">
                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i> Принять
                                </a></td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock content %}